.jumbotron {
    background-color: blue;
    color: white;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: blue;
    margin-bottom: 0px;
    color: white;
}

.card-producto {
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
}